/*css*/
:root {
    --primary-color: #2d8ed3;
    --secundary-color: #2A9D8F;
    --accent1-color: #e0fbfcd3;
    --accent2-color: #0077B6;
    --heading-font: "Lobster", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    color: #1d1d1df8;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    padding: 30px 0px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h2{
    padding: 0;
    color: var(--accent2-color);
}

h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 1;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 120px;
    width: 95%;
    padding: 10px;
    text-align: left;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: aliceblue;
    overflow: hidden;
}

.hero article img {
    float: right;
    width: 125px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0rem;
    border-bottom: 2px solid #ccc;
}

header img {
    width: 110px;
    height: auto;
}

.navi {
    display: flex;
    flex-wrap: wrap;
}

.navi a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: var(--accent2-color);
}

.History img {
    width: 200px;
    height: 180px;
    justify-self: center;
    align-self: center;
}

.History {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    gap: 1rem;
    border-radius: 8px;
    padding: 1rem;
    align-items: start;
}

.History p {
    text-align: justify;
}

.HISTORY {
    text-align: center;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 8px;
}

.adventure img {
    width: 130px;
    object-fit: cover;
    height: 100px;
}

main h2 {
    padding: 0px 0px 30px 0px;
    text-align: center;
}

.adventure figcaption {
    color: #222;
    font-size: 12px;
    font-weight: bold;
}

.adventure figure {
    text-align: center;
}

footer{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

footer p{
    grid-column: 2;
    text-align: center;
}


.socialmedia{
    grid-column: 3;
    justify-self: end;
    
}

.socialmedia img{
    width: 25px;
}